.root {
  position: fixed;
  inset: 0;
  z-index: 1000;
  background: transparentize(#12181f, 0.6);

  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }

  .content {
    padding: 8px;
  }
}
