* {
  font-family: 'Montserrat';
  font-size: 16px;
}

html {
  --color-main: #ee6a59;
  --color-bg: #3a3f58;
  --color-bg-add: #565861;

  --color-btn: #f9ac67;

  --color-text: #ece6cd;
}

body {
  &.hidden {
    overflow: hidden;

    .header {
      .inner {
        padding: 0 42px;
      }
    }
  }

  &.noMac {
    padding: 0 17px 0 0;
  }
}
