* {
  font-family: 'Montserrat';
  font-size: 16px;
}

html {
  --color-main: #ee6a59;
  --color-bg: #3a3f58;
  --color-bg-add: #565861;

  --color-btn: #f9ac67;

  --color-text: #ece6cd;
}
