.table {
  background: var(--color-bg);
  width: 100%;

  .head {
    background: var(--color-bg);
    color: var(--color-text);
  }

  .row {
    &:nth-child(even) {
      background: var(--color-btn);
    }

    &:nth-child(odd) {
      background: var(--color-text);
    }
  }
}
