.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 25px;
  height: 48px;
  margin: 0 0 16px 0;

  &__light {
    background: var(--color-text);
  }

  &__dark {
    background: var(--color-bg-add);
  }

  .thema {
    width: 30px;
    height: 30px;
    color: var(--color-btn);
    cursor: pointer;
  }
}

.scroll {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 9999;
}
