.header {
  position: fixed;
  width: 100%;
  z-index: 9999;

  .inner {
    padding: 0 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 48px;
  }

  &__light {
    background: var(--color-text);
  }

  &__dark {
    background: var(--color-bg-add);
  }

  .thema {
    width: 30px;
    height: 30px;
    color: var(--color-btn);
    cursor: pointer;
  }
}
