.form__wrapper {
    padding: 1rem 0;
}
.form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.form > div {
    display: flex;
}
.form > div > label {
    flex: 0 1 30%;
}
.form > div > input,
.form > div > textarea {
    flex: 0 1 20%;
}
.form > div > input[type="button"] {
    cursor: pointer;
    border: none;
    background: #caa34e;
    padding: 1rem;
    border-radius: 5px;
    color: #fff;
    text-transform: uppercase;
    box-shadow: 5px 5px 10px #623f3f;
}