body {
    font-family: "Roboto";
    background-color: #fff;
    color: #333333;
}
.container {
    width: 3370px;
    max-width: 100%;
    height: 100vh;
    padding: 3rem 5rem;
    background-image: url('../assets/background/major_img.jpg');
    background-repeat: no-repeat;
    background-position: 100px 0;
    background-size: contain;
}
@media screen and (max-width: 1000px) {
    .container {
        background: #fff;
    }
}
/*Header start*/
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5rem;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 100;
}
.header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
}
@media screen and (max-width: 1600px) {
    .header {
        max-height: 7rem;
    }
}
.header__logo {
    z-index: 4;
}
/*Burger start*/
.header__burger {
    display: none;
}
@media screen and (max-width: 576px) {
    body.block {
        overflow: hidden;
    }
    .header {
        padding: 1rem;
    }
    .header__burger {
        display: block;
        position: relative;
        width: 30px;
        height: 20px;
        z-index: 4;
    }
    .header__burger > span {
        position:absolute;
        top: 9px;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: #333333;
        transition: all .3s ease-in;
        opacity: 1;
    }
    .header__burger.activeMenu > span {
        opacity: 0;
    }
    .header__burger::before,
    .header__burger::after {
        content: "";
        position: absolute;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: #333333;
        transition: all .3s ease-in;
    }
    .header__burger::before {
        top: 0;
    }
    .header__burger::after {
        bottom: 0;
    }
    .header__burger.activeMenu:before {
        transform: rotate(45deg);
        top: 9px;
    }
    .header__burger.activeMenu:after {
        transform: rotate(-45deg);
        bottom: 9px;
    }
    .header__nav {
        position: fixed;
        top: -100%;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #fff;
        transition: all .3s ease-in;
    }
    .header__nav.activeMenu {
        top: 0;
        transition: all .3s ease-in;
    }
    .nav__list {
        flex-direction: column;
        padding: 5rem 2rem;
    }
}
/*Burger end*/
.header__nav {
    flex: 0 1 40%;
    z-index: 2;
}
.header__image {
    width: calc(50px + 12vw);
    max-width: 100%;
}
.nav__list {
    display: flex;
    justify-content: space-around;
}
.nav__link {
    font-size: calc(1rem + 1vw);
    font-weight: 700;
    display: block;
    padding: 0.4rem;
}
.active {
    background-color: #333333;
    color: #fff;
}
.no-active {
    opacity: 0;
}
/*Header end*/
/*Main start*/
.main {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: inherit;
    text-align: end;
}
@media screen and (max-width: 1000px) {
    .main {
       flex-wrap: wrap;
    }
}

.main__photo {
    flex: 1 1 30%;
}
@media screen and (max-width: 1000px) {
    .main__photo {
       flex: 1 0 100%;
    }
}
.main__image {
    max-width: 100%;
    opacity: 0;
}
@media screen and (max-width: 1000px) {
    .main__image{
       opacity: 1;
       width: 100%;
    }
}
@media screen and (max-width: 576px) {
    .main__image{
       opacity: 0;
       transform: translate(-500px);
    }
}
.main__content {
    flex: 0 1 35%;
}
@media screen and (max-width: 1000px) {
    .main__content {
       flex: 1 0 100%;
    }
}
@media screen and (max-width: 576px) {
    .main__content {
       order: -1;
    }
}
.main__head {
    text-transform: uppercase;
    font-family: Montserrat;
    font-size: calc(0.1rem + 4.5vw);
    font-weight: 900;
    letter-spacing: 0.05em;
    position: relative;
    padding-bottom: 3rem;
    overflow: hidden;
}
.main__head::after {
    content: "";
    display: block;
    width: 88%;
    height: 15px;
    background-color: #00b4ff;
    position: absolute;
    bottom: 0;
    right: 0;
}
@media screen and (max-width: 1600px) {
    .main__head {
        font-size: calc(0.1rem + 3.5vw);
    }
}
.main__title {
    padding: 5rem 0 1rem 0;
    text-transform: uppercase;
    font-family: Roboto;
    font-size: calc(1rem + 2vw);
    font-weight: 700;
    letter-spacing: 0.05em;
    color: #181818;
}
@media screen and (max-width: 1600px) {
    .main__title {
        padding: 2rem 0 1rem 0;
    }
}
.main__text {
    padding-left: 7rem;
    font-family: Roboto;
    font-size: calc(0.5rem + 1vw);
    font-weight: 400;
    letter-spacing: 0.05em;
    color: #333333;
}
@media screen and (max-width: 1600px) {
    .main__text {
        font-size: calc(0.5rem + 0.5vw);
    }
}
.contacts__list {
    display: flex;
    justify-content: flex-end;
}
.contacts__link--site {
    font-family: Montserrat;
    font-size: calc(0.5rem + 1vw);
    line-height: 68px;
    font-weight: 600;
    letter-spacing: 0.05em;
}
.contacts__item {
    cursor: pointer;
    padding-right: 0.7rem;
}
.contacts__link {
    display: flex;
    justify-content: flex-end;
}
.contacts__image {
    width: calc(1rem + 1.2vw);
}
.contacts__button {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(255,255,255,0);
    padding: 5rem 0 0 0;
}
.button__link {
    text-transform: uppercase;
    font-size: calc(1.5rem + 1vw);;
    font-weight: 900;
    letter-spacing: 0.05em;
    padding-right: 1rem;
}
.button__img {
    max-width: 100%;
}
/*Main end*/