<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Acme&family=Montserrat:wght@600;900&family=Roboto:wght@700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="./styles/reset.css" />
    <link rel="stylesheet" href="./styles/style.css" />
    <title>Pets</title>
</head>

<body>
    <div class="box">
        <header class="header">
            <div class="conteiner">
                <div class="header__box">
                    <a href="#">
                        <img class="logo__img" src="./assets/img/logo.png" alt="logo" />
                    </a>
                    <ul class="nav__list">
                        <li class="nav__list_item">
                            <a class='nav__list_link' href="#">Home</a>
                        </li>
                        <li class="nav__list_item">
                            <a class='nav__list_link' href="#">Info</a>
                        </li>
                        <li class="nav__list_item">
                            <a class='nav__list_link' href="#">Galery</a>
                        </li>
                        <li class="nav__list_item">
                            <a class='nav__list_link' href="#">Contact</a>
                        </li>
                        <li class="nav__list_item">
                            <a class='nav__list_link' href="#">FAQ</a>
                        </li>
                    </ul>
                </div>
            </div>
        </header>
        <main class="main_box">
            <div class="conteiner">
                <div class="main">
                    <h1 class="main__title">love your pet more</h1>
                    <div class="line"></div>
                    <div class="main__info">
                        <h3 class="main__info_title">healthy pets</h3>
                        <p class="main__info_text">Lorem ipsum dolor sit amet, consectetur adipiLorem ipsum dolor sit
                            ametetur adipiscing elit eiusmod tempor incidunt ut labore et dolore magna aliqua quis ipsum
                            suspendisse</p>
                        <a href="#" class="main__info_link">www.yoursite.com</a>
                        <ul class="main__info_social">
                            <li class="main__info_socialitem">
                                <a class='main__info_sociallink' href="#">
                                    <img class='main__info_socialimg' src="./assets/img/instagram.png" alt="instagram">
                                </a>
                            </li>
                            <li class="main__info_socialitem">
                                <a class='main__info_sociallink' href="#">
                                    <img class='main__info_socialimg' src="./assets/img/facebook.png" alt="facebook">
                                </a>
                            </li>
                            <li class="main__info_socialitem">
                                <a class='main__info_sociallink' href="#">
                                    <img class='main__info_socialimg' src="./assets/img/twitter.png" alt="twitter">
                                </a>
                            </li>
                            <li class="main__info_socialitem">
                                <a class='main__info_sociallink' href="#">
                                    <img class='main__info_socialimg' src="./assets/img/whatsapp.png" alt="whatsapp">
                                </a>
                            </li>
                        </ul>
                        <div class="now">
                            <h4 class="now__text">book now</h4>
                            <a href="#">
                                <img src="./assets/img/arrow_icon.png" alt="">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <footer class="footer">
            <a href="https://ru.freepik.com/psd/template">Template PSD создан(а) freepik - ru.freepik.com</a>
        </footer>
    </div>
</body>

</html>