.fragmentForm-dark {
    background-color: rgb(37, 34, 32);
    color: beige;
    padding: 0%;
    margin: 0%;
}
.inputText-dark, .inputButton-dark {
    background-color:rgb(71, 71, 71) ;
    color: white;
}
.fragmentForm-dark, .inputText-dark, .inputButton-dark {
    transition: background-color 0.5s linear, color 0.5s linear;
}

input, textarea{ 
    padding: 0%;
    margin: 1%;
}

.form {
    width: 40%;
    height: auto;
}
.contentFlex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

#pagesContent {
    width: 60%;
    height: auto;
    max-height: 50%;
}

input{
    text-align: end;
}
.buttonAdd {
    text-align: center;
}

.fragmentForm {
    width: 100%;
    height: auto;
}

.textTitle {
    text-align: center;
}