<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;700&family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./styles/normalize.css">
    <link rel="stylesheet" href="./styles/style.css">
    <title>Document</title>
</head>
<body>
    <header class="header">
        <div class="container">
            <div class="header__inner">
                <a class="logo" href="#">
                    <picture>
                        <source class="logo__img-mobile" srcset="./assets/img/logo.png" media="(min-width: 600px)">
                        <img class="logo__img" src="./assets/img/logo.png" alt="My Charity">
                    </picture>
                </a>
                <nav class="menu">
                    <label class="menu-label" for="menu"></label>
                    <input class="menu-input" type="checkbox" id="menu">
                    <ul class="menu__list">
                        <li class="menu__list-item">
                            <a href="#" class="menu__list-link">home</a>
                        </li>
                        <li class="menu__list-item">
                            <a href="#" class="menu__list-link">about us</a>
                        </li>
                        <li class="menu__list-item">
                            <a href="#" class="menu__list-link">project</a>
                        </li>
                        <li class="menu__list-item">
                            <a href="#" class="menu__list-link">blog</a>
                        </li>
                        <li class="menu__list-item">
                            <a href="#" class="menu__list-link">events</a>
                        </li>
                        <li class="menu__list-item">
                            <a href="#" class="menu__list-link">gallery</a>
                        </li>
                        <li class="menu__list-item">
                            <a href="#" class="menu__list-link">contact us</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
   <section class="section__first">
       <div class="container">
            <div class="first__inner">
                <h1 class="first__title">welcome to my charity</h1>
                <p class="first__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                <button class="first__btn">
                    <p class="first__btn-text">Donate now</p>
                </button>
            </div>
       </div>
   </section>
   <section class="section__second">
       <div class="container__second-section">
            <div class="second__inner">
                <div class="first__box">
                    <img class="first__box-img" src="./assets/img/logo_section.png" alt="#">
                </div>
                <div class="second__box">
                    <img class="second__box-img" src="./assets/img/first.png" alt="img">
                </div>
                <div class="third__box">
                    <div class="third__box-inner">
                        <h3 class="third__box-title">Donate Now!</h3>
                        <p class="third__box-text"> Lorem ispum is simple dummy text</p>
                    </div>
                </div>
                <div class="fourth__box">
                    <div class="fourth__box-inner">
                        <h3 class="fourth__box-title">Sign up to newsletter</h3>
                            <div class="field">
                                <input class="field-input" type="text" placeholder="Enter your email">
                                <button class="field-btn">Subscribe</button>
                            </div>
                        <p class="fourth__box-text"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum itaque, impedit, excepturi qui esse, voluptatum dolores cumque accusantium officia moles</p>
                    </div>  
                </div>
                <div class="fifth__box">
                    <img class="fifth__box-img" src="./assets/img/second.png" alt="img">
                </div>
                <div class="sixth__box">
                    <img class="sixth__box-img" src="./assets/img/third.png" alt="img">
                </div>
                <div class="seventh__box">
                    <div class="seventh__box-inner">
                        <h2 class="seventh__box-title">f</h2>
                        <p class="seventh__box-text">Like Now!</p>
                    </div>
                </div>
            </div>
       </div>
   </section>
   <section class="section__third">
       <div class="container">
           <div class="section__third-inner">
               <h4 class="third__title">Our Events</h4>
               <div class="section__third-content">
                   <div class="section__third-item">
                       <div class="section__third-item-title section__third-item-title-first">
                           <p class="section__third-item-num">18</p>
                       </div>
                       <h5 class="section__third-item-subtitle">October</h5>
                       <h6 class="section__third-item-name">Lorem Ipsum is simple</h6>
                       <p class="section__third-item-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis, accusamus cupiditate? Tenetur deleniti sapiente minus veritatis minima fuga nesciunt, doloremque odit deserunt quaera</p>
                       <button class="section__third-item-btn section__third-item-btn-first">more</button>
                    </div>
                    <div class="section__third-item">
                        <div class="section__third-item-title">
                            <p class="section__third-item-num">22</p>
                        </div>
                        <h5 class="section__third-item-subtitle">October</h5>
                        <h6 class="section__third-item-name">Lorem Ipsum is simple</h6>
                        <p class="section__third-item-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis, accusamus cupiditate? Tenetur deleniti sapiente minus veritatis minima fuga nesciunt, doloremque odit deserunt quaera</p>
                        <button class="section__third-item-btn">more</button>
                     </div>
                    <div class="section__third-item">
                        <div class="section__third-item-title">
                            <p class="section__third-item-num">28</p>
                        </div>
                        <h5 class="section__third-item-subtitle">October</h5>
                        <h6 class="section__third-item-name">Lorem Ipsum is simple</h6>
                        <p class="section__third-item-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis, accusamus cupiditate? Tenetur deleniti sapiente minus veritatis minima fuga nesciunt, doloremque odit deserunt quaera</p>
                        <button class="section__third-item-btn">more</button>
                        </div>
                    </div>
            </div>       
       </div>
   </section>
   <footer class="footer">
       <div class="container">
            <nav class="footer__menu">
                <ul class="footer__menu-list">
                    <li class="footer__menu-list-item">
                        <a href="#" class="footer__menu-list-link">Home</a>
                    </li>
                    <li class="footer__menu-list-item">
                        <a href="#" class="footer__menu-list-link">About us</a>
                    </li>
                    <li class="footer__menu-list-item">
                        <a href="#" class="footer__menu-list-link">Project</a>
                    </li>
                    <li class="footer__menu-list-item">
                        <a href="#" class="footer__menu-list-link">Blog</a>
                    </li>
                    <li class="footer__menu-list-item">
                        <a href="#" class="footer__menu-list-link">Events</a>
                    </li>
                    <li class="footer__menu-list-item">
                        <a href="#" class="footer__menu-list-link">Gallery</a>
                    </li>
                    <li class="footer__menu-list-item">
                        <a href="#" class="footer__menu-list-link">Contact us</a>
                    </li>
                </ul>
            </nav>
            <div class="footer__content">
                <div class="footer__content-left">
                    <h3 class="footer__content-title">Follow Us</h3>
                    <div class="footer__content-left-imgs">
                        <div class="footer__content-left-img footer__content-left-img-first">
                            <img src="./assets/img/f.png" alt="facebook">
                        </div>
                        <div class="footer__content-left-img footer__content-left-img-second">
                            <img src="./assets/img/t.png" alt="twitter">
                        </div>
                        <div class="footer__content-left-img footer__content-left-img-third">
                            <img src="./assets/img/g.png" alt="google">
                        </div>
                    </div>
                </div>
                <div class="footer__content-central">
                    <h3 class="footer__content-title">News letter</h3>
                    <div class="field">
                        <input class="field-input field-input-dark" type="text" placeholder="Enter your email">
                        <button class="field-btn field-btn-dark">Subscribe</button>
                    </div>    
                </div>
                <div class="footer__content-right">
                    <h3 class="footer__content-title">Contact Us</h3>
                    <p class="footer__content-text">Addres</p>
                    <p class="footer__content-text">New Street</p>
                    <p class="footer__content-text">ph:xxxxx-xxx-xxx</p>
                </div>
            </div>
            <div class="footer__end">
                <p class="footer__end-text">My Charity © 2022 Allright Reserved</p>
            </div>
        </div>
   </footer>
</body>
</html>