body {
    margin: 0;
    padding: 0;
}
img {
    width: 100%;
    height: 100%;
}
.app {
    width: 100%;
    background-color: #000;
    color: #fff;
    font-size: 2rem;
}
header {
    display: flex;
    justify-content: center;
    align-items: center;
}