.tableForm-dark {
    background-color: rgb(37, 34, 32);
    color: beige;
    
}
.table{
    width: 40%;
    height: auto;    
}

.buttonDelete-dark, .buttonUpdate-dark {
    background-color:rgb(71, 71, 71) ;
    color: white;
}

.buttonDelete-dark, .buttonUpdate-dark,  .tableForm-dark  {
    transition: background-color 0.5s linear, color 0.5s linear;
}
.formTable {
    width: 100%;
    height: auto;
}
