.content {
  display: flex;
  flex-direction: column;
  &__item {
    &:not(:last-child) {
      margin: 0 0 35px 0;
    }
  }

  &__form {
    justify-content: center;
    display: flex;
  }
}
